* {box-sizing: border-box;}

html{
  background-color: white;
  font-family: 'Poppins', sans-serif;
}
p{
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}
#navbar{
  background-color: rgba(15,14,38,1);
  position: absolute;
  width: 100%;
  padding-top: 15px;
  height: 10vh;
  display: flex;
  justify-content: right;
  top:0px;
  left:0px;

  color: gray;
}
#titlebar{
  font-size: 2rem;
  flex-grow: 1;
  padding-left: 10px;
}

a:link{
  color: silver;
  text-decoration: none;
}
a:visited{
  color:gray;
}

#navlink{
  font-size: 1.5rem;
  padding: 5px;
  flex-grow: .125;

}
main{
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: column;

}
.primary-section{
  color: gray;
  height: 70vh;
  border-radius: 30px;
  padding: 1rem;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  width: 80%;
  font-size: 2.5rem;
  text-align: left;
}
.content{
  width: 80%;
  font-size: 1.25rem;
  text-align: left;
}
#projects-title{
  color: gray;
  font-size: 2rem;
  height: 10vh;
  width: 95vw;
  text-align: center;
}
#projects{
  font-size: 40px;
  color: hsl(0,50%,5%);
  width: 95vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
}
.project-tile{
  font-size: 40px;
  color: hsl(0,50%,100%);
  height: 300px;
  margin: 2rem 0;
  width: 300px;
  border-radius: 15%;
  box-shadow: 5px 5px 10px #555;
  background-image:linear-gradient(45deg, rgba(15,14,38,1) 0%, rgba(28,28,119,1) 35%, rgba(255,58,0,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.text-tile{
  position: absolute;
  top: 10vh;
  width: 60vw;
  flex: 2;
  padding: 2rem;
  font-size: 40px;
  text-align: center;

}

#profile-link{
  background-color: hsl(250, 50%, 85%);
  border-radius: 3px;
  padding: 5px;
}
ul {
  text-align: left;
}

@media (max-width: 750px){
  p {
    font-size: 1rem;
  }
  #titlebar{
  font-size: 4vw;
  }
  #navlink{
    font-size: 3.1vw;
  }
  #welcome-section{
    font-size: 2rem;
  }
  .project-tile{

  margin: 10px;

  font-size: 2rem;
  }
}
